* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/*header section*/

header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* height: 5vh; */
    padding: 25px 0px 25px 0px;
    box-shadow: 0px 10px 200px black;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    /* font-weight: bold; */
}

header .logo {
    width: 15%;
}

.logo img {
    width: 100%;
    margin-left: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    list-style-type: none;
}

.btn1 button {
    /* margin-top: 10px; */
    border: none;
    color: white;
    background-color: rgb(2, 2, 19);
    border-radius: 22px;
    margin-top: -10px;
    padding: 8px 30px;
    font-size: 16px;
    border: 1px solid rgb(2, 2, 19);
    transition: 0.5s;
}

.btn1 button:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 7px orange;
    background-color: orange;
}

.link-about {
    /* background-color: #4CAF50; */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.link-about:hover {
    color: orange;
}

.about {
    position: relative;
}

.about:hover {
    text-decoration: underline orange 2px;
}

/* a {
    text-decoration: none;
} */

ul {
    list-style-type: none;
}

.list-about {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
}

.list-about ul li a {
    color: black;
    padding: 10px 10px;
    /* margin-left: 5px;
            margin-right: 5px; */
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.list-about ul li a:hover {
    border-radius: 12px;
    color: white;
    background-color: rgb(2, 2, 19)
}

.about:hover .list-about {
    display: block;
}

.title {
    width: 86.5%;
    height: 50vh;
    padding: 176px 0px 0px 176px;
    background-color: rgb(2, 2, 19);
    color: white;
    margin-top: 130px;
}

.title h1 {
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: bold;
}

.title p {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: bold;
    font-weight: bold;
    color: rgb(146, 145, 145);
}

.title button {
    padding: 12px 34px;
    font-size: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.title button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.main-where {
    width: 100%;
    height: 80vh;
    align-items: center;
}

.where {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    letter-spacing: -4px;
    align-items: center;
}

.where h1 {
    margin: 0px 100px 20px 100px;
}

.where-p {
    width: 896px;
    height: 130px;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    padding: 40px 40px 0px 40px;
    border-top: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
}

/* TRENDING COURSE */
.main-tranding {
    width: 100%;
}

.tranding-title hr,
.tranding-title h2 {
    display: inline-block;
}

.tranding-title {
    text-align: center;
}

.tranding-title hr {
    width: 25%;
}

.tranding-title h2 {
    margin: 0px 24px 0px 24px;
    font-size: 36px;
}

.tranding-text {
    text-align: center;
}

.tranding-para {
    font-size: 17px;
    margin-top: 12px;
    color: orangered;
}

/* 
card section */
.main-card {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    /* right: 30px; */
}

.sub-card {
    width: 23%;
    height: 405px;
    box-shadow: 0px 0px 3px black;
    border-radius: 8px;
    text-align: justify;
}

.sub-card:hover {
    box-shadow: 0px 0px 7px black;
}

.sub-card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.sub-card p {
    margin-top: 10px;
}

.sub-heading {
    /* width: 100%; */
    /* height: 405px; */
    padding: 16px;
}

.sub-heading a {
    text-align: center;
    margin-top: 40px;
    padding: 14px 79px;
    background-color: darkblue;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    transition: 0.4s;
    cursor: pointer;
}

.sub-heading .view {
    margin-top: 20px;
}

.sub-heading a:hover {
    background-color: orangered;
}

.sub-heading .view a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#acad-card {
    height: 380px;
}

/* ADMISSION */
.main-addmi {
    text-align: center;
    margin-top: 50px;
}

.main-addmi h2 {
    font-size: 60px;
    color: darkblue;
    margin-bottom: 16px;
}

.main-addmi h3 {
    font-size: 20px;
    margin-bottom: 24px;
    color: darkblue;
}

.main-addmi p {
    width: 560px;
    height: 148px;
    margin: auto;
    text-align: justify;
    line-height: 25px;
    font-size: 17px;
}

.main-addmi a {
    padding: 15px 45px;
    background-color: orange;
    text-decoration: none;
    color: white;
}

.main-addmi a:hover {
    background-color: rgb(205, 134, 2);
}

.main-addmi .aply {
    margin: 50px;
}

/* MESSAGE OF THE PRINCIPAL */
.main-mess {
    margin-top: 50px;
    width: 100%;
    height: 80vh;
}

.sub-mess {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    text-align: justify;
}

.sub-mess img,
.main-princ {

    width: 318px;
    height: 318px;
    margin-left: 40px;
}

.imp-para {
    margin-bottom: 20px;
}

.mess-ang a {
    text-decoration: underline orange 2px;
    color: darkblue;
    font-size: 18px;
}

.mess-ang a:hover {
    color: orange;
}

.mess-ang {
    margin-top: 220px;
}

.princ {
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
}

.princ2 {
    color: orange;
    font-size: 17px;
}

/* Faculty to Student Ratio */
.main-ratio {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sub-ratio {
    margin-top: 50px;
    margin-bottom: 100px;
}

.sub-ratio .num {
    font-size: 60px;
    color: darkblue;
}

.sub-ratio .stud {
    font-size: 16px;
    color: gray;
}

/* LIFE AT NPIT / GALLERY */
.life {
    width: 100%;
    height: 80vh;
}

.life-btn {
    margin-top: 50px;
    text-align: center;
}

.life-btn #spacial-btn {
    margin-bottom: 30px;
    width: 272.74px;
    height: 42px;
    padding: 10px 24px;
    background-color: orange;
    color: white;
}

.life-btn button {
    width: 227.7px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(210, 209, 209);
}

.life-btn button:hover {
    color: black;
    background-color: rgb(156, 155, 155);
}

.life-card {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.life-card .life-image {
    width: 30%;
    height: 250px;
    padding: 0px 16px24px;
}

.life-card img {
    width: 100%;
    height: 250px;
    padding: 0px 16px24px;
}

.life-card .life-image:hover {
    padding: 0px;
}

/* LATEST NEWS AND UPDATES */
.main-news {
    width: 100%;
    height: 80vh;
}

.news-imp {
    margin-top: 50px;
}

.news-ang a {
    text-decoration: none;
    color: orange;
}

.news-ang {
    margin-left: 17px;
    margin-top: 10px;
}

.new-heading {
    font-size: 16px;
}

.news-para {
    font-size: 11px;
}

#news-imp {
    height: 360px;
}

/* Events & Happenings */
.main-event {
    padding: 64px 24px;
    /* width: 90%; */
    /* height: 200vh; */
    margin: auto;
}
#events{
    margin-top: 50px;
    margin-bottom: 200px;
}
#event-imp{
    margin-bottom: 300px;
}
.horiz hr{
    display: inline-block;
    width: 30px;
    /* margin-bottom: 5px; */
    border-color: orange;
}
.horiz span{
    color: orange;
    margin-top: 10px;
}
.sub-event{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 90px;
}
.sub-event2 hr{
    margin-right: 5px;
    border-color: gainsboro;
}
.sub-event2{
    display: flex;
    margin-right: 100px;
    color: gainsboro;
}
.campus-eve{
    font-size: 30px;
    color: darkblue;
}
.campus-eve span{
    color: orange;
}
.jun{
    text-align: center;
    padding: 6px 12px;
    width: 48px;
    height: 46px;
    background-color: orange;
    color: white;
    border-radius: 8px;
    position: absolute;
}

/* JOIN US */

.join{
    margin: auto;
    width: 96%;
    /* margin-top: 200px; */
    padding: 100px 24px;
    background-color: darkblue;
    color: white;
    /* align-content: center; */
}
.join a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 16px 48px;
    background-color: orange;
    margin-left: 500px;
}
.join a:hover{
    color: darkblue;
    background-color: white;
}

/* Join Our Newsletter */
#main2-our{
    /* margin-top: 50px; */
}
.main-our{
    padding: 40px 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
}
.sub-our{
    width: 438px;
    font-size: 18px;
}
.sub-our1{
    margin-left: 300px;
    text-align: center;
    font-size: 18px;
}
.sub-our1 input{
    padding: 16px 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid darkblue;
}
.sub-our1  button{
    padding: 16px 24px;
    font-size: 18px;
    background-color: darkblue;
    border: none;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
}
.sub-our1  button:hover{
    background-color: blue;
}

footer{
    padding: 40px 80px;
}
.main-foot{
    display: flex;
    justify-content: space-between;
}
